<p>Um Ihr Passwort zurückzusetzen, besuchen Sie bitte den folgenden Link:</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Dieser Link verfällt um {{ resetToken.expiresAt|date('H:i') }} Uhr.</p>

<p>Mit freundlichen Grüßen</p>
<p>Ihr ASSPICK-Team</p>
<p class="MsoNormal" style="mso-margin-top-alt:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm">
    <span style="mso-fareast-language:DE"><img width="185" height="28" style="width:1.927in;height:.2916in" id="_x0000_i1050" src="cid:logo" alt="ASSPICK-_rgb.jpg"><o:p></o:p></span></p>
<p class="MsoNormal"><b><span style="font-size:8.0pt;mso-fareast-language:DE">Asspick Versicherungsmakler GmbH
</span></b><b><span style="font-size:8.0pt"><o:p></o:p></span></b></p>
<p class="MsoNormal"><span style="font-size:8.0pt;mso-fareast-language:DE">Moislinger Allee 9c
</span><span style="font-size:8.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;mso-fareast-language:DE">•</span><b><span style="font-size:8.0pt;mso-fareast-language:DE">
</span></b><span style="font-size:8.0pt;mso-fareast-language:DE">23558 Lübeck<o:p></o:p></span></p>
<p class="MsoNormal"><span style="font-size:5.0pt;mso-fareast-language:DE"><o:p>&nbsp;</o:p></span></p>
<p class="MsoNormal"><span style="font-size:8.0pt;mso-fareast-language:DE">T: +49 (0) 451 - 98 913 527</span><span style="mso-fareast-language:DE">&nbsp;
</span><b><span style="font-size:8.0pt;mso-fareast-language:DE">&nbsp;</span></b><span style="font-size:8.0pt;mso-fareast-language:DE"><o:p></o:p></span></p>
<p class="MsoNormal"><u><span style="font-size:8.0pt;color:#0563C1;mso-fareast-language:DE"><a href="mailto:vermittler@asspick.de"><span style="color:blue">vermittler@asspick.de</span></a></span></u><u><span style="color:#0563C1;mso-fareast-language:DE"><o:p></o:p></span></u></p>
<p class="MsoNormal"><u><span style="font-size:5.0pt;color:#0563C1;mso-fareast-language:DE"><o:p><span style="text-decoration:none">&nbsp;</span></o:p></span></u></p>
<p class="MsoNormal"><span style="font-size:8.0pt;color:black;mso-fareast-language:DE">Registrierungsnummer:</span><span style="mso-fareast-language:DE">
</span><span style="font-size:8.0pt;mso-fareast-language:DE">D-FNOZ-EZWML-40</span><span style="font-size:13.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black;mso-fareast-language:DE">
</span><span style="mso-fareast-language:DE"><o:p></o:p></span></p>
<p class="MsoNormal"><span style="font-size:8.0pt;color:black;mso-fareast-language:DE">AG&nbsp;Lübeck, HRB 5086</span><span style="font-size:8.0pt;mso-fareast-language:DE">
</span><span style="font-size:8.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;mso-fareast-language:DE">•</span><span style="font-size:8.0pt;color:black;mso-fareast-language:DE"> Geschäftsführer: Nicolas Streker, Alexandra Jung<o:p></o:p></span></p>
<p class="MsoNormal"><span style="font-size:8.0pt;color:black;mso-fareast-language:DE"><o:p>&nbsp;</o:p></span></p>
<p class="MsoNormal"><a href="https://m.facebook.com/AsspickGmbH/?ref=bookmark"><span style="font-size:8.0pt;color:black;mso-fareast-language:DE;text-decoration:none"><img border="0" width="22" height="30" style="width:.2291in;height:.3125in" id="_x0000_i1049" src="cid:facebook"></span></a><span style="font-size:8.0pt;color:black;mso-fareast-language:DE">&nbsp;&nbsp;
</span><a href="https://www.asspick.de/kontakt/erstinformation-und-impressum/"><span style="font-size:8.0pt;color:black;mso-fareast-language:DE;text-decoration:none"><img border="0" width="22" height="30" style="width:.2291in;height:.3125in" id="_x0000_i1048" src="cid:impress"></span></a><span style="font-size:8.0pt;color:black;mso-fareast-language:DE">&nbsp;&nbsp;&nbsp;</span><a href="https://www.asspick.de/kontakt/datenschutz/"><span style="font-size:8.0pt;color:black;mso-fareast-language:DE;text-decoration:none"><img border="0" width="22" height="30" style="width:.2291in;height:.3125in" id="_x0000_i1047" src="cid:dataProtection"></span></a><span style="mso-fareast-language:DE">&nbsp;&nbsp;</span><span style="font-size:8.0pt;color:black;mso-fareast-language:DE">&nbsp;&nbsp;</span><a href="https://www.asspick.de/"><span style="font-size:8.0pt;color:black;mso-fareast-language:DE;text-decoration:none"><img border="0" width="22" height="30" style="width:.2291in;height:.3125in" id="_x0000_i1046" src="cid:homepage"></span></a><span style="font-size:8.0pt;color:black;mso-fareast-language:DE">&nbsp;&nbsp;&nbsp;</span><a href="https://player.vimeo.com/video/262019393"><span style="font-size:8.0pt;color:black;mso-fareast-language:DE;text-decoration:none"><img border="0" width="22" height="30" style="width:.2291in;height:.3125in" id="_x0000_i1045" src="cid:imageFilm"></span></a><span style="font-size:8.0pt;color:black;mso-fareast-language:DE"><o:p></o:p></span></p>
