{% extends '_general/base.html.twig' %}

{% block title %}Ihre Dateien{% endblock %}

{% block content %}

    <div class="container container--files">
        <div class="inner">
            <header>
                <h2>
                    <i class="fad fa-cloud"></i>
                    Ihre Dateien
                </h2>
            </header>

            <header><h3 class="purple"><i class="fad fa-sparkles"></i> Aufgrund fehlender Zugangsdaten konnte keine Verbindung hergestellt werden.</h3></header>


        </div>
    </div>
{% endblock %}
