{% extends '_general/base.html.twig' %}

{% block title %}Ihre Dateien{% endblock %}

{% block content %}

    <div class="container container--files">
        <div class="inner">
            <header>
                <h2>
                    <i class="fad fa-cloud"></i>
                    Ihre Dateien
                </h2>
            </header>

            <header><h3 class="purple"><i class="fad fa-sparkles"></i> Neue</h3></header>
            <div class="content">
                <div class="line col-6">
                    <a href="#" class="file" title="very_long_filename_4711.pdf">
                        <div class="wrap-icon">
                            <i class="fad fa-file-pdf"></i>
                        </div>
                        <div class="information">
                            <div class="type">Vertrag</div>
                            <div class="filename">very_long_filename_4711.pdf</div>
                            <div class="date">17.12.2020 19:13</div>
                        </div>
                    </a>
                </div>
                <div class="line col-6">
                    <a href="#" class="file" title="herzlichen_glückwunsch.pdf">
                        <div class="wrap-icon">
                            <i class="fad fa-file-pdf"></i>
                        </div>
                        <div class="information">
                            <div class="type">Brief</div>
                            <div class="filename">herzlichen_glückwunsch.pdf</div>
                            <div class="date">17.12.2020 19:13</div>
                        </div>
                    </a>
                </div>
                <div class="line col-6">
                    <a href="#" class="file" title="zugangsdaten.pdf">
                        <div class="wrap-icon">
                            <i class="fad fa-file-pdf"></i>
                        </div>
                        <div class="information">
                            <div class="type">Brief</div>
                            <div class="filename">zugangsdaten.pdf</div>
                            <div class="date">17.12.2020 19:13</div>
                        </div>
                    </a>
                </div>
            </div>

            <header><h3><i class="fad fa-file-contract"></i> Verträge</h3></header>
            <div class="content">
                <div class="line col-6">
                    <a href="#" class="file" title="very_long_filename_4711.pdf">
                        <div class="indicator">Neu</div>
                        <div class="wrap-icon">
                            <i class="fad fa-file-pdf"></i>
                        </div>
                        <div class="information">
                            <div class="type">Vertrag</div>
                            <div class="filename">very_long_filename_4711.pdf</div>
                            <div class="date">17.12.2020 19:13</div>
                        </div>
                    </a>
                </div>
                <div class="line col-6">
                    <a href="#" class="file" title="long_filename_4711.pdf">
                        <div class="wrap-icon">
                            <i class="fad fa-file-pdf"></i>
                        </div>
                        <div class="information">
                            <div class="type">Vertrag</div>
                            <div class="filename">long_filename_4711.pdf</div>
                            <div class="date">17.12.2020 19:13</div>
                        </div>
                    </a>
                </div>
                <div class="line col-6">
                    <a href="#" class="file" title="very_very_long_filename_4711.pdf">
                        <div class="wrap-icon">
                            <i class="fad fa-file-pdf"></i>
                        </div>
                        <div class="information">
                            <div class="type">Vertrag</div>
                            <div class="filename">very_very_long_filename_4711.pdf</div>
                            <div class="date">17.12.2020 19:13</div>
                        </div>
                    </a>
                </div>
            </div>

            <header><h3><i class="fad fa-envelope"></i> Briefe</h3></header>
            <div class="content">
                <div class="line col-6">
                    <a href="#" class="file" title="herzlichen_glückwunsch.pdf">
                        <div class="indicator">Neu</div>
                        <div class="wrap-icon">
                            <i class="fad fa-file-pdf"></i>
                        </div>
                        <div class="information">
                            <div class="type">Brief</div>
                            <div class="filename">herzlichen_glückwunsch.pdf</div>
                            <div class="date">17.12.2020 19:13</div>
                        </div>
                    </a>
                </div>
                <div class="line col-6">
                    <a href="#" class="file" title="zugangsdaten.pdf">
                        <div class="indicator">Neu</div>
                        <div class="wrap-icon">
                            <i class="fad fa-file-pdf"></i>
                        </div>
                        <div class="information">
                            <div class="type">Brief</div>
                            <div class="filename">zugangsdaten.pdf</div>
                            <div class="date">17.12.2020 19:13</div>
                        </div>
                    </a>
                </div>
                <div class="line col-6">
                    <a href="#" class="file" title="herzlichen_glückwunsch.pdf">
                        <div class="wrap-icon">
                            <i class="fad fa-file-pdf"></i>
                        </div>
                        <div class="information">
                            <div class="type">Brief</div>
                            <div class="filename">herzlichen_glückwunsch.pdf</div>
                            <div class="date">17.12.2020 19:13</div>
                        </div>
                    </a>
                </div>
                <div class="line col-6">
                    <a href="#" class="file" title="zugangsdaten.pdf">
                        <div class="wrap-icon">
                            <i class="fad fa-file-pdf"></i>
                        </div>
                        <div class="information">
                            <div class="type">Brief</div>
                            <div class="filename">zugangsdaten.pdf</div>
                            <div class="date">17.12.2020 19:13</div>
                        </div>
                    </a>
                </div>
                <div class="line col-6">
                    <a href="#" class="file" title="herzlichen_glückwunsch.pdf">
                        <div class="wrap-icon">
                            <i class="fad fa-file-pdf"></i>
                        </div>
                        <div class="information">
                            <div class="type">Brief</div>
                            <div class="filename">herzlichen_glückwunsch.pdf</div>
                            <div class="date">17.12.2020 19:13</div>
                        </div>
                    </a>
                </div>
                <div class="line col-6">
                    <a href="#" class="file" title="zugangsdaten.pdf">
                        <div class="wrap-icon">
                            <i class="fad fa-file-pdf"></i>
                        </div>
                        <div class="information">
                            <div class="type">Brief</div>
                            <div class="filename">zugangsdaten.pdf</div>
                            <div class="date">17.12.2020 19:13</div>
                        </div>
                    </a>
                </div>
            </div>

            <header><h3><i class="fad fa-briefcase"></i> Vorgänge</h3></header>
            <div class="content">
                {% for i in 1..15 %}
                    <div class="line col-6">
                        <a href="#" class="file" title="vorgang_{{ i }}.pdf">
                            <div class="wrap-icon">
                                <i class="fad fa-file-pdf"></i>
                            </div>
                            <div class="information">
                                <div class="type">Vorgang</div>
                                <div class="filename">vorgang_{{ i }}.pdf</div>
                                <div class="date">17.12.2020 19:13</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <header><h3><i class="fad fa-archive"></i> Archiv</h3></header>
            <div class="content">
                <div class="line"><a href="">126 archivierte Dateien</a></div>
            </div>
        </div>
    </div>
{% endblock %}
