<footer id="footer">
	<span style="margin-right: auto;">Asspick Versicherungsmakler GmbH &middot; Moislinger Allee 9c &middot; 23558 Lübeck &middot; info@asspick.de &middot; Tel +49 (0) 451 98913-520 &middot;
    Fax +49 (0) 451 98913-581</span>
    <span>Vermittlerportal der ASSPICK Versicherungsmakler GmbH</span><span>Version: {{ version }}</span>
</footer>
