{% extends '_general/base.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block content %}
<div class="container">
	<div class="inner">
		<header>
			<h1>Impressum</h1>
		</header>
		<div class="content">
			<p>ASSPICK Versicherungsmakler GmbH</p>
			<p>
				Moislinger Allee 9 c • 23558 Lübeck <br>T +49 (0) 451 98 913 520 • F +49 (0) 451 98 913 581<br>
				<a href="mailto:vermittler@asspick.de">info<span>@</span>asspick.de</a>
				•
				<a href="https://www.asspick.de" target="_blank">www.asspick.de</a>
			</p>
		</div>


		<div class="content"><p>Handelsregister-Eintrag:<br>Registergericht Lübeck HR B 5086 </p>
			<p>USt-IdNr.:<br>DE 814024832 </p>
			<p>Geschäftsführer: <br>Nicolas Streker<br>Alexandra Jung </p>
			<p>Sitz der Gesellschaft:&nbsp;<br>Lübeck </p>
			<p>Inhaltlich verantwortlich:&nbsp;<br>Nicolas Streker </p>
			<p>Erlaubnis nach § 34 d Abs. 1 GewO </p>
			<p>Berufsbezeichnung:<br>Versicherungsmakler; Bundesrepublik Deutschland </p>
			<p>Registrierungsnummer:<br>D-FNOZ-EZWML-40 </p>
			<p>Versicherungsvermittlerregister:<br>Die Eintragung im Vermittlerregister kann wie folgt überprüft werden: </p>
			<p>Deutsche Industrie- und Handelskammertag (DIHK) e.V.<br>Breite Straße 29<br>10178 Berlin </p>
			<p>T +49&nbsp;(0) 180 600 585-0 (20 Cent/Anruf aus dem dt. Festnetz, höchstens 60 Cent/Anruf aus Mobilfunknetzen)<br>
				<a href="https://www.vermittlerregister.info" title="www.vermittlerregister.info" target="_blank">
					www.vermittlerregister.info
				</a>
			</p>
			<p>Industrie- und Handelskammer zu Lübeck<br>Fackenburger Allee 2<br>23554 Lübeck<br>T +49 (0) 451 6006-0<br>F +49 (0) 451
				6006-999<br>
				<a href="https://www.ihk-schleswig-holstein.de/" target="_blank">ihk-schleswig-holstein.de</a>
			</p>
		</div>

		<div class="content">
			<p>Berufsrechtliche Regelungen:</p>
			<ul>
				<li>§ 34 d Gewerbeordnung</li>
				<li>§§ 59-68 VVG</li>
				<li>VersVermV</li>
			</ul>
			<p>Die berufsrechtlichen Regelungen können über die vom Bundesministerium der Justiz und von der juris GmbH
				betriebenen Homepage
				<a href="https://www.gesetze-im-internet.de" target="_blank">gesetze-im-internet.de</a>
				eingesehen und abgerufen werden.
			</p>
		</div>

		<div class="content">
			<p>Unser Unternehmen/Der Versicherungsmakler hält
				keine direkte oder indirekte Beteiligung von über 10 % an den Stimmrechten oder am Kapital eines
				Versicherungsunternehmens. Kein Versicherungsunternehmen oder Mutterunternehmen eines
				Versicherungsunternehmens hält eine direkte oder indirekte Beteiligung von über 10% an den Stimmrechten oder
				am Kapital des Versicherungsmaklers/unseres Unternehmens.</p>
		</div>

		<div class="content">
			<p>Schlichtungsstellen zur außergerichtlichen Beilegung von Streitigkeiten:</p>
			<p>Versicherungsombudsmann e. V., Postfach 080632, 10006 Berlin<br>
				<a href="https://www.versicherungsombudsmann.de" title="www.versicherungsombudsmann.de" target="_blank">
					www.versicherungsombudsmann.de
				</a>
			</p>
			<p>Ombudsmann für die private Kranken- und Pflegeversicherung<br>Postfach 06 02 22, 10052 Berlin<br>
				<a href="https://www.pkv-ombudsmann.de" title="www.pkv-ombudsmann.de" target="_blank">www.pkv-ombudsmann.de</a>
			</p>
		</div>


		<div class="content">
			<p>Information zur Teilnahme am Streitbeilegungsverfahren gemäß § 36 Verbraucherstreitbeilegungsgesetz </p>
			<p>Wir sind gemäß § 17 Abs. 4 der Versicherungsvermittlungsverordnung verpflichtet am Streitbeilegungsverfahren vor folgenden Verbraucherschlichtungsstellen teilzunehmen: </p>
			<p>Schlichtungsstellen zur außergerichtlichen Beilegung von Streitigkeiten:</p>
			<ul>
				<li>Versicherungsombudsmann e.V.<br>Postfach 08 06 32<br>10006 Berlin<br>
					<a href="https://www.versicherungsombudsmann.de" target="_blank">versicherungsombudsmann.de</a>
				</li>
				<li>Ombudsmann Private Kranken- und Pflegeversicherung<br>Postfach 06 02 22<br>10052 Berlin<br>
					<a href="https://www.pkv-ombudsmann.de" target="_blank">pkv-ombudsmann.de</a>
				</li>
			</ul>
		</div>

		<div class="content">
			<p>
				Online Streitbeilegung gemäß:<br>
				Art. 14 Abs. 1 ODR-VO
			</p>
			<p>Die Europäische Union stellt eine Plattform zur Online-Streitbeilegung (OS-Plattform) bereit, die Sie unter:<br>
				<a href="https://ec.europa.eu/consumers/odr/" title="Online Dispute Resolution" target="_blank">
					https://ec.europa.eu/consumers/odr/
				</a>
				finden.
			</p>
		</div>
		<div class="content">
			<p>Der Versicherungsmakler berät den Kunden und wird bei seiner
				Tätigkeit gegenüber dem Versicherungsnehmer stets ehrlich, redlich und professionell in dessen bestmöglichem Interesse
				handeln.
			</p>
			<p>
				Vergütung des Versicherungsmaklers:<br>
				Soweit nicht etwas anderes vereinbart ist, erhält der Makler für die Vermittlungs- und
				Beratungstätigkeit eine Courtage in üblicher und von der Prämie abhängiger Höhe. Abweichend hiervon kann auf Wunsch des Kunden
				die direkte Vergütung des Versicherungsmaklers durch ein vom Kunden zu zahlendes Honorar vereinbart werden.
			</p>
			<p>Andere Zuwendungen erhält der Versicherungsmakler nicht.</p>
		</div>

		<div class="content">
			<p>
			Wir halten bei unserer Beratung zu Versicherungsanlageprodukten Nachhaltigkeitsrisiken für nicht relevant, da diese bereits auf der Ebene der Versicherer berücksichtigt werden. Eine individuelle
				Berücksichtigung auf der Ebene der einzelnen Anlagen erfolgt daher nicht.
			</p>
		</div>


		<div class="content">
			<h4>Haftungshinweis</h4>
			<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der
				verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
			<h4>Haftungsausschluss | Disclaimer</h4>
			<p>Die Inhalte dieser Webseiten dienen lediglich allgemeinen Informationszwecken. Die MARTENS &amp; PRAHL Gruppe übernimmt – trotz
				sorgfältiger Prüfung der Informationen/Angaben –&nbsp;keine Haftung für Schäden materieller oder ideeller Art wegen Fehlern oder
				Mängeln hinsichtlich Aktualität, Richtigkeit und Vollständigkeit dieser Webseiten. Im Übrigen ist die Haftung auf Vorsatz und
				grobe Fahrlässigkeit beschränkt.</p>
			<p>Die MARTENS &amp; PRAHL Gruppe behält sich ausdrücklich vor, einzelne Seiten oder Teile davon ohne gesonderte Ankündigung zu
				verändern, zu ergänzen oder zu löschen oder die Veröffentlichung zeitweise oder gänzlich einzustellen. </p>
			<p>Falls diese Webseiten von einer anderen Webseite angelinkt worden sind, übernimmt die MARTENS &amp; PRAHL Gruppe keine
				Verantwortung für Darstellungen, Inhalte oder irgendeine Verbindung zur MARTENS &amp; PRAHL Gruppe in Webseiten Dritter. Für die
				Inhalte und Funktionalität anderer Webseiten, die über Links dieser Webseite aufgerufen werden können, kann keinerlei
				Verantwortung oder Gewähr übernommen werden. </p>
			<h4>Urheberrecht</h4>
			<p>Diese Webseiten dienen der Information über die MARTENS &amp; PRAHL Gruppe. Sämtliche Inhalte wie Texte, Bilder, Graphiken,
				Layout etc. sind urheberrechtlich geschützt. Die Inhalte dürfen ohne vorherige schriftliche Einwilligung nicht zu kommerziellen
				Zwecken kopiert, verändert, vervielfältigt, verbreitet oder Dritten zugänglich gemacht werden. </p>
		</div>
	</div>
</div>
{% endblock %}
