{% extends '_general/base.html.twig' %}

{% block title %}Nutzungsbedingungen{% endblock %}

{% block content %}
	<div class="container">
		<div class="inner">
			<header>
				<h1>Nutzungsbedingungen</h1>
			</header>
			<div class="content">
				<h2>1. Vertragsgegenstand</h2>
				<p>Asspick Versicherungsmakler GmbH stellt dem Geschäftspartner (im Folgenden Nutzer genannt) den Online- Zugriff auf verschiedene Angebote,
					u.a.
					zum Herunterladen von Dokumenten oder Nutzung der Angebotssoftware zur Verfügung. Die Nutzung erfolgt ausschließlich im Rahmen dieser
					Nutzungsbedingungen. Übergabepunkt für die Daten ist der Anschluss des Servers der Asspick GmbH an die Datenleitung des Internetanbieters.
					Die
					Verantwortung für die Datenübertragung endet an diesem Punkt.</p>


				<h2>2. Zugang</h2>
				<p>Zugriffsberechtigt sind alle Geschäftspartner, die von der Asspick GmbH eine Zugriffsberechtigung erhalten haben. Eine Weitergabe der
					Zugriffsberechtigung (Benutzername und/oder Passwort) ist nicht zulässig. Der Nutzer stellt sicher, dass die Zugriffsberechtigung Dritten
					nicht
					zugänglich wird und Dritte sich keine Kenntnis von den Online-Inhalten verschaffen können. Der Nutzer haftet für alle Handlungen, die unter
					seiner Zugriffsberechtigung erfolgen.</p>


				<h2>3. Nutzungsrecht</h2>
				<p>Die Asspick GmbH räumt dem Nutzer ein nicht ausschließliches, nicht übertragbares Nutzungsrecht an den Online-Angeboten ein. Die Angebote
					dürfen
					ausschließlich zur Durchführung der Tätigkeit als Geschäftspartner der Asspick GmbH genutzt werden. Asspick ist berechtigt, das
					Vermittlerportal
					unter Einhaltung einer angemessenen Ankündigungsfrist jederzeit teilweise einzustellen. Bei Änderungen des Portals, die eine Änderung der
					Nutzungsbedingungen zur Folge haben, erlischt die bisherige Nutzungsberechtigung. Aufgrund der Beschaffenheit des Vermittlerportals ist die
					ununterbrochene Verfügbarkeit nicht gewährleistet. Das Nutzungsrecht ist zeitlich nicht beschränkt.</p>


				<h2>4. Pflichten des Nutzers</h2>
				<p>Der Nutzer ist verpflichtet, das Vermittlerportal nur sachgerecht zu nutzen. Er wird insbesondere die Zugriffsmöglichkeiten nicht
					missbräuchlich
					nutzen und den zum Schutz der Daten anerkannten Grundsätzen der Datensicherheit Rechnung tragen. Erlangt der Nutzer Kenntnis von einer
					missbräuchlichen Verwendung, wird er diese der Asspick unverzüglich in Textform anzeigen. Der Nutzer stellt Asspick von allen Nachteilen
					frei,
					die den Firmen durch Vertragsverletzungen des Nutzers oder durch eine Inanspruchnahme durch Dritte wegen vertragswidriger Handlungen des
					Benutzers entstehen. Der Nutzer trägt die Endgerätekosten und die Fernmeldegebühren.</p>


				<h2>5. Gewährleistung / Haftung</h2>
				<p>Eine Haftung für Sach- und Rechtsmängel der Online-Angebote ist bei deren Unentgeltlichkeit beschränkt auf Arglist und Vorsatz. Abgesehen von
					Sach- und Rechtsmängeln ist die Haftung begrenzt auf Vorsatz und grobe Fahrlässigkeit, soweit nicht das Produkthaftungsgesetz Anwendung
					findet
					und auch keine Verletzung des Lebens, des Körpers und der Gesundheit oder eine Verletzung wesentlicher Vertragspflichten vorliegt. Die
					Haftung
					wegen der Verletzung vertragswesentlicher Pflichten ist jedoch auf den vertragstypischen, vorhersehbaren Schaden begrenzt. Die Asspick GmbH
					garantiert, trotz ständigen Bemühens, das Portal virenfrei zu halten, keine Virenfreiheit. Der Nutzer hat selbst für angemessene
					Sicherheitsvorkehrungen (z.B. Firewall, Virenscanner) zu sorgen.</p>


				<h2>6. Rechte an den Online-Angeboten</h2>
				<p>Die Online-Angebote sind urheberrechtlich geschützt. Der Nutzer erwirbt durch die Nutzung keinerlei Rechte an den Online- Angeboten. Er darf
					ohne
					vorherige Einwilligung der Asspick GmbH die Inhalte des Vermittlerportals weder verändern, noch vervielfältigen, an Dritte verkaufen oder in
					sonstiger Weise entgeltlich verwerten. Copyright und sonstige Schutzrechtsvermerke, Sicherheitscodes oder der Kennzeichnung der Software
					dienende Merkmale dürfen weder entfernt noch verändert werden.</p>


				<h2>7. Vertraulichkeit</h2>
				<p>Der Nutzer wird die durch das Vermittlerportal gewonnenen Erkenntnisse über innerbetriebliche Verhältnisse und Vorgänge der Asspick GmbH als
					ihm
					anvertraute Betriebsgeheimnisse behandeln und diese gegenüber Dritten nicht verwenden oder anderweitig zugänglich machen, ausgenommen davon
					sind
					Angebote gemäß Ziffer 3 Satz 2 dieses Vertrages. Die im Vermittlerportal gewonnenen Informationen und Erkenntnisse sind nur für die
					Tätigkeiten
					für die Asspick GmbH zu verwenden und dürfen nicht gegen die genannten Firmierungen verwendet werden. Die Pflicht zur Vertraulichkeit
					besteht
					über die Beendigung des Nutzungsverhältnisses hinaus.</p>

				<h2>8. Kündigung / Beendigung</h2>
				<p>Dieser Vertrag kann von der Asspick GmbH und dem Nutzer mit einer Frist von einem Monat gekündigt werden. Dieser Vertrag kann von der Asspick
					GmbH aus wichtigem Grund, ohne Einhaltung einer Kündigungsfrist, gekündigt werden. Ein wichtiger Grund liegt z. Bsp. vor bei Verstoß des
					Nutzers
					oder eines von ihm beauftragten Dritten gegen die Bestimmungen dieser Nutzungsbedingungen. Mit Beendigung des Kooperationsvertrages mit der
					Asspick GmbH, wird auch automatisch dieser Vertrag beendet und das Nutzungsrecht erlischt, ohne dass es einer ausdrücklichen
					Kündigungserklärung
					bedarf.</p>


				<h2>9. Schlussbestimmungen</h2>
				<p>Erfüllungsort und Gerichtsstand ist Lübeck. Sollten einzelne Bestimmungen dieses Vertrages unwirksam sein oder werden, so wird hierdurch die
					Gültigkeit der übrigen Bestimmungen nicht berührt. Das Gleiche gilt, wenn sich herausstellen sollte, dass der Vertrag eine Regelungslücke
					enthält. Anstelle der unwirksamen Regelung oder zur Ausfüllung der Regelungslücke wird eine angemessene Regelung vereinbart, die dem am
					nächsten
					kommt, was die Parteien gewollt haben oder gewollt haben würden, wenn sie den Punkt bedacht hätten. Es gilt deutsches Recht.</p>


				<p>Stand: 29.04.2021</p>
			</div>
		</div>
	</div>

{% endblock %}
