<div id="topbar">
    <a class="logo" href="{{ path('dashboard') }}">
        <img src="{{ asset('build/img/asspick-logo.png') }}" alt="Asspick Vermittlerportal"/>
    </a>

    {% if app.user %}
        <div class="toggle-nav">
            <i class="fas fa-bars open"></i>
            <span class="navigation">Menü</span>
        </div>

        <div class="navigation-wrapper">
            {% include '_general/navigation/user.html.twig' %}
            {% include '_general/navigation/main.html.twig' %}
        </div>
    {% endif %}

</div>

{% if app.user %}
    <div id="mobile-navigation">
        <i class="fas fa-times close"></i>
        {% include '_general/navigation/main.html.twig' %}
        {% include '_general/navigation/user.html.twig' %}
    </div>
{% endif %}
