<div class="content">
    <div class="line col-24">
        Wir möchten darauf hinweisen, dass falsche Angaben zum Verlust des Versicherungsschutzes führen können, auch ohne
        dass der Versicherer hierdurch einen Nachteil erleidet. Bitte senden Sie uns die Schadenanzeige schnellstmöglich zurück.
    </div>
</div>
<div class="content">
    <div class="line col-24 contact">
        Asspick Versicherungsmakler GmbH * Moislinger Allee 9c * 23558 Lübeck * info@asspick.de * Tel +49 (451) 98913-520 * Fax +49 (451) 98913-581
    </div>
</div>