<div class="line">
    Wir möchten darauf hinweisen, dass falsche Angaben zum Verlust des Versicherungsschutzes führen können, auch ohne
    dass der Versicherer hierdurch einen Nachteil erleidet. Bitte senden Sie uns die Schadenanzeige schnellstmöglich
    zurück.
</div>