<div class="content">
    <header>
        <h2>
            {{ form_label(form.policyholder) }}
        </h2>
    </header>
    {% include 'damage_case/part/_person.html.twig' with {'person':form.policyholder} %}
    <div class="line col-8">
        {{ form_label(form.policyholder.email) }}
        {{ form_widget(form.policyholder.email) }}
        {{ form_errors(form.policyholder.email) }}
    </div>
</div>