{% extends '_general/base.html.twig' %}

{% block title %}Herzlich willkommen{% endblock %}

{% block content %}

    <div class="container container--dashboard">
        <div class="inner">
            <header>
                <h2>
                    <i class="fad fa-door-open"></i>
                    Herzlich willkommen
                </h2>
            </header>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore
                    et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                    ipsum
                    dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="content">
                <div class="line col-6">
                    <a class="cta" href="{{ path('files') }}">
                        <div class="indicator">3</div>
                        <i class="fad fa-cloud"></i>
                        <div class="title">Ihre Verträge</div>
                        <div class="description">Verträge, Vorgänge und Informationen</div>
                    </a>
                </div>
                <div class="line col-6">
                    <a class="cta">
                        <i class="fad fa-car-crash"></i>
                        <div class="title">Unfall-Rechner</div>
                        <div class="description">Berechnen Sie schnell und einfach Ihren Schadenfall</div>
                    </a>
                </div>
                <div class="line col-6">
                    <a class="cta">
                        <i class="fad fa-house"></i>
                        <div class="title">Immobilien-Rechner</div>
                        <div class="description">Die wichtigsten Kennzahlen einfach und direkt erhalten</div>
                    </a>
                </div>
                <div class="line col-6">
                    <a class="cta">
                        <i class="fad fa-paper-plane"></i>
                        <div class="title">Newsroom</div>
                        <div class="description">Jetzt anmelden und immer up&#8209;to&#8209;date bleiben</div>
                    </a>
                </div>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore
                    et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                    ipsum
                    dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="content">
                <header>
                    <h2><a class="btn right" href="{{ path('news_archiv') }}">Archiv</a></h2>
                </header>
                <div class="newline"></div>
                {% for news in newsroom %}
                    {% include 'news/_teaser.html.twig' %}
                {% endfor %}
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore
                    et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                    ipsum
                    dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
{% endblock %}
