{% extends '_general/base.html.twig' %}

{% block title %}Herzlich willkommen{% endblock %}

{% block content %}

    <div class="container container--dashboard">
        <div class="inner">
            <header>
                <h2>
                    <i class="fad fa-door-open"></i>
                    Herzlich willkommen
                </h2>
            </header>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore
                    et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                    ipsum
                    dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="content">
                <div class="line col-6">
                    <a class="cta" href="{{ path('files') }}">
                        <div class="indicator">3</div>
                        <i class="fad fa-cloud"></i>
                        <div class="title">Ihre Verträge</div>
                        <div class="description">Verträge, Vorgänge und Informationen</div>
                    </a>
                </div>
                <div class="line col-6">
                    <a class="cta">
                        <i class="fad fa-car-crash"></i>
                        <div class="title">Unfall-Rechner</div>
                        <div class="description">Berechnen Sie schnell und einfach Ihren Schadenfall</div>
                    </a>
                </div>
                <div class="line col-6">
                    <a class="cta">
                        <i class="fad fa-house"></i>
                        <div class="title">Immobilien-Rechner</div>
                        <div class="description">Die wichtigsten Kennzahlen einfach und direkt erhalten</div>
                    </a>
                </div>
                <div class="line col-6">
                    <a class="cta">
                        <i class="fad fa-paper-plane"></i>
                        <div class="title">Newsroom</div>
                        <div class="description">Jetzt anmelden und immer up&#8209;to&#8209;date bleiben</div>
                    </a>
                </div>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore
                    et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                    ipsum
                    dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="content">
                <div class="line news col-6">
                    <img src="/img/martens-prahl-asspick-teaser-login-1610.jpg">
                    <h2><strong>TRAMPOLIN ist da:</strong><br>Die Plattform für den Sprung nach oben!</h2>
                    <p>Unser Karriereportal TRAMPOLIN ist der neue Weg, die besten Job-Perspektiven zu entdecken.
                        Natürlich
                        bei MARTENS & PRAHL. Aktuelle Stellenangebote, Informationen zu Aus- & Weiterbildung und
                        mehr.</p>
                </div>
                <div class="line news col-6">
                    <img src="/img/martens-prahl-asspick-cybersicherheit-teaser.jpg">
                    <h2><strong>Cyberversicherung Asspick</strong><br>Kompletter Versicherungsschutz für Daten und
                        Systeme
                        gegen alle Risiken</h2>
                </div>
                <div class="line news col-6">
                    <img src="/img/martens-prahl-asspick-corona-folgen-teaser.jpg">
                    <h2><strong>Das Coronavirus</strong><br>hat viele Folgen.</h2>
                    <p>Händler, die nicht öffnen dürfen. Unternehmen, deren Produktion stillsteht. Und Menschen, die
                        schwer
                        erkranken. Versicherungen können diese abmildern – aber nicht immer</p>
                </div>
                <div class="line news col-6">
                    <img src="/img/martens-prahl-asspick-teaser-login-1610.jpg">
                    <h2><strong>Partner-Log-In</strong><br>Exklusive Informationen für Sie</h2>
                    <p>Hier finden Sie als Makler aktuelle Informationen, Updates, Hintergründe. Exklusiv für unsere
                        Kooperationspartner.</p>
                </div>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore
                    et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                    ipsum
                    dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
{% endblock %}
