{% extends '_general/base.html.twig' %}

{% block title %}Download-Center Administration{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('folder-index') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="inner">
            <header>
                <h2>
                    <i class="fad fa-tools"></i>
                    Download-Center Administration
                </h2>
                <div class="actions">
                    <a id="expand-all" class="btn">
                        <i class="fas fa-folder-plus"></i> alle ausklappen
                    </a>
                    <a id="collapse-all" class="btn">
                        <i class="fas fa-folder-minus"></i> alle einklappen
                    </a>
                </div>
            </header>
            <div class="content">
                <div class="table-wrapper">
                    <table class="entity-list">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Letzte Änderung</th>
                            <th class="actions">
                                <a title="Ordner erstellen" class="btn green"
                                   href="{{ path('download_center_folder_new') }}">
                                    Neuer Ordner
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set levelClass = 'level-' %}
                        {% for folder in folders %}
                            {% include 'download_center/folder/_child.html.twig'
                                with {'folder':folder,'level':0,'parentId':folder.id}
                            %}
                        {% else %}
                            <tr>
                                <td colspan="3">Keine Ordner im System</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
