{% extends '_general/base.html.twig' %}

{% block title %}Unfall Cover{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="inner">
            <header>
                <h2>
                    <i class="fad fa-car-crash"></i>
                    Unfall Cover
                </h2>
            </header>
            <div class="content">
                <iframe src="https://rechner.asspick.netzhirsch.de/unfall" style="width: 100%;height: 1080px"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
